/EjemploValidacion/build/
/EjemploValidacion/nbproject/private/
/EjemplosPablo/IconosImagesExample/build/
/CorredoresInterfaces1/dist/
/CorredoresInterfaces1/build/
/CorredoresInterfaces1/nbproject/private/
/Temporizador/build/
/Temporizador/dist/
/Temporizador/nbproject/private/
/Temporizador/Temporizador/build/
/Temporizador/Temporizador/dist/
/Temporizador/Temporizador/nbproject/private/
/CreacionComponenteVideos/nbproject/private/
/CreacionComponenteVideos/build/
/CreacionComponenteVideos/dist/
/Espia/build/
/Espia/dist/
/CronometroCarrera/nbproject/private/
/CronometroCarrera/build/
/CronometroCarrera/dist/
/CronometroPropio/nbproject/private/
/CronometroPropio/build/
/CronometroPropio/dist/
/CorredoresInterfaces1/CorredoresInterfaces1/build/
/CorredoresInterfaces1/CorredoresInterfaces1/dist/
/CorredoresInterfaces1/CorredoresInterfaces1/nbproject/private/
/PruebaComponentePropio/build/
/TemporizadorBis/build/
/GestionCorredores/nbproject/private/
/GestionCorredores/build/
CorredoresInterfaces1/Aburrida me tiene esto118.dat
*.dat
