/EjemploValidacion/build/
/EjemploValidacion/nbproject/private/
/EjemplosPablo/IconosImagesExample/build/
/CorredoresInterfaces1/dist/
/CorredoresInterfaces1/build/
/CorredoresInterfaces1/nbproject/private/
/Temporizador/build/
/Temporizador/dist/
/Temporizador/nbproject/private/
/Temporizador/Temporizador/build/
/Temporizador/Temporizador/dist/
/Temporizador/Temporizador/nbproject/private/
/CreacionComponenteVideos/nbproject/private/
/CreacionComponenteVideos/build/
/CreacionComponenteVideos/dist/
/Espia/build/
/Espia/dist/
/CronometroCarrera/nbproject/private/
/CronometroCarrera/build/
/CronometroCarrera/dist/
/CronometroPropio/nbproject/private/
/CronometroPropio/build/
/CronometroPropio/dist/
/CorredoresInterfaces1/CorredoresInterfaces1/build/
/CorredoresInterfaces1/CorredoresInterfaces1/dist/
/CorredoresInterfaces1/CorredoresInterfaces1/nbproject/private/
/PruebaComponentePropio/build/
/TemporizadorBis/build/
/GestionCorredores/nbproject/private/
/GestionCorredores/build/
CorredoresInterfaces1/Aburrida me tiene esto118.dat
*.dat
/GestionCorredores/dist/
/GestionCarrerasCross/nbproject/private/
/OtraAplicacionInterfaces/nbproject/private/
/OtraAplicacionInterfaces/build/
/OtraAplicacionInterfacesNoVale/nbproject/private/
/PruebaComponentesPropios/nbproject/private/
/PruebaComponentesPropios/build/
/InterfaceGestionPracticaEx/build/
/InterfaceGestionPracticaEx/nbproject/private/
/AplicacionExamen/InterfaceGestionCorredoresActual/build/
/AplicacionExamen/InterfaceGestionCorredoresExamen/nbproject/private/
/AplicacionExamen/InterfaceGestionCorredoresExamen/build/
/AplicacionExamen/InterfaceGestionCorredoresExamen/dist/
/ComponenteExamen/nbproject/private/
/ComponenteExamen/dist/
/ComponenteExamen/build/
/Cesta_semaphore/nbproject/private/
/Cesta_semaphore/build/
/BrazosRobotizados/nbproject/private/
/BrazosRobotizados/build/
/Bannio/nbproject/private/
/Ejercicio2Examen/nbproject/private/
/Ejercicio1Examen/nbproject/private/
/PSP_PRES_EVAL1B_SHAILA/nbproject/private/
/PSP_PRES_EVAL1B_SHAILA/build/
/ClienteTwitter/build/
/Ejercicio3InformesIrport/build/
/AplicacionCorredores/InterfaceGestionCorredoresActual/dist/
/DI1819-master(2)/DI1819-master/AplicacionCorredores/InterfaceGestionCorredoresActual/build/
/DI1819-master(2)/DI1819-master/AplicacionCorredores/InterfaceGestionCorredoresActual/nbproject/private/
/DI1819-master(2)/DI1819-master/CorredoresConsola/nbproject/private/
/DI1819-master/AplicacionCorredores/InterfaceGestionCorredoresActual/build/
/DI1819-master/AplicacionCorredores/InterfaceGestionCorredoresActual/nbproject/private/
/DI1819-master/CorredoresConsola/nbproject/private/
/DI1819-master/AplicacionCorredores/InterfaceGestionCorredoresActual/dist/
/EjemploCoche/build/
/EjemploCoche/dist/
/EjemploCoche/nbproject/private/
/Ejercicio3InformesIrport/dist/
/AplicacionCorredores/InterfaceGestionCorredoresActual/build/